<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cable Network</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="css\main.css">
    <link rel="stylesheet" href="css\multiformbootstrap.css">
</head>
<body>

    <div class="container">


        <!-- logo div area start -->
        <div class="row logo_div">
            <div class="col-sm-3 logo">
                    <a href="#" class="logo_text">
                        <i>Cable Pay</i>
                    </a>
            </div>
        </div>
        <!-- logo div area end -->


        <!-- form area start -->
        <form id="regForm" action="#">

                <h1>Operaor Register</h1>
                
                <!-- One "tab" for each step in the form: -->
                <div class="tab">Name:
                  <p><input placeholder="First name..." class="form-control" oninput="this.className = ''"></p>
                  <p><input placeholder="Last name..." class="form-control" oninput="this.className = ''"></p>
                </div>
                
                <div class="tab">Contact Info:
                  <p><input placeholder="E-mail..." class="form-control" oninput="this.className = ''"></p>
                  <p><input placeholder="Phone..." class="form-control" oninput="this.className = ''"></p>
                  <p><input placeholder="Location..." class="form-control" oninput="this.className = ''"></p>
                  <p><input class="form-control" type="file" id="formFileDisabled"></p>
                </div>

                <div class="tab">User Type Info:
                  <p><select class="form-select" aria-label="Default select example" >
                    <option value="" selected>Select User Type</option>
                    <option value="operator">Operator</option>
                    <option value="cashier">Cashier</option>
                    <option value="customer">Customer</option>
                  </select></p>
                  <p><input placeholder="Your ID" class="form-control" oninput="this.className = ''"></p>
                  <p><input placeholder="Password..." class="form-control" oninput="this.className = ''"></p>
                  <p><input placeholder="Conform Password..." class="form-control" oninput="this.className = ''"></p>
                </div>
                
                <div class="tab" >Customer Info:
                    <p><select class="form-select" aria-label="Default select example" >
                        <option value="" selected>Select Your Operator</option>
                        <option value="Basil">Basil</option>
                        <option value="Basheer">Basheer</option>
                        <option value="Anoop">Anoop</option>
                      </select></p>
                  <p><input placeholder="Your Card Number" class="form-control" oninput="this.className = ''"></p>
                  <p><input placeholder="Setup Box Number" class="form-control" oninput="this.className = ''"></p>
                </div>
                
                
                <div style="overflow:auto;">
                  <div style="float: left;">
                    <a href="#" style="font-size: 10px;">Already have an account ?</a>
                  </div>
                  <div style="float:right;">
                    <button type="button" id="prevBtn" class="form-control" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" class="form-control" onclick="nextPrev(1)">Next</button>
                  </div>
                </div>
                
                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;">
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                </div>
                
                </form> 
        <!-- form area end -->




    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="js\multiformbootstrap.js"></script>
</body>
</html>