<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cable Network</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="css\main.css">
    <link rel="stylesheet" href="css\multiformbootstrap.css">
</head>
<body>

    <div class="container">


        <!-- logo div area start -->
        <div class="row logo_div">
            <div class="col-sm-3 logo">
                    <a href="#" class="logo_text">
                        <i>Cable Pay</i>
                    </a>
            </div>
        </div>
        <!-- logo div area end -->


        <!-- form area start -->

        <div class="col-sm-12" style="padding: 10px 50px 0px 50px;">

          <div class="col-sm-8" style="text-align: center;">

            <div class="circle">
              <img src="images\NAQE9284.jpg" alt="" srcset="" width="100%" height="100%" style="border-radius: 50%">

            </div>

            <h4 class="name_head">Ramshid Ali</h4>
          </div>

          <div class="tab" style="padding: 0px 0px 0px 0px;">
            Designation :
            <p class="input_field_p_tag"><input class="form-control " readonly oninput="this.className = ''" value="Cable Technision"></p>
            Department :
            <p class="input_field_p_tag"><input class="form-control" readonly oninput="this.className = ''" value="Haritha Cable Vision"></p>
            Location :
            <p class="input_field_p_tag"><input class="form-control" readonly oninput="this.className = ''" value="Chippilithode"></p>
            Email :
            <p class="input_field_p_tag"><input class="form-control" readonly oninput="this.className = ''" value="aliamshid@gmail.com"></p>
            Phone :
            <p class="input_field_p_tag"><input class="form-control" readonly oninput="this.className = ''" value="9544334756"></p>
          </div>


          <div style="text-align: center;">
            <input type="submit" class="cpbutton" value="Change Password">
          </div>


        </div>
        
        <!-- form area end -->




    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="js\multiformbootstrap.js"></script>
</body>
</html>